

https://anandology.com/python-practice-book/getting-started.html , 

https://learningweek.upgrad.com/v/course/140/session/11364/segment/56061


- Indentation 
- Multiple assignments of variables in 1 go

### Using Python Interpretor for calculations

In [1]:
x, y = 2, 6 
x, y = y, x + 2 
print (x, y)

6 4

In [2]:
a, b = 2, 3
c, b = a, c + 1
print (a, b, c)

NameError: name 'c' is not defined

Python supports the following operators on numbers.

- + addition
- - subtraction
- * multiplication
- / division - gives float
- // integer division
- ** exponent
- % remainder

++ and -- are not supported

In [3]:
x=3
def square(x):
    return x*x

In [4]:
square(4)

16

Multi-line strings can be written using three single quotes or three double quotes.

x = """This is a multi-line string
written in
three lines."""
print x

y = '''multi-line strings can be written
using three single quote characters as well.
The string can contain 'single quotes' or "double quotes"
in side it.'''
print y

In [5]:
def area(r):
    pi =3.14
    return (pi*r*r)

In [6]:
area(5)

78.5

### Global and Local Variables

In [7]:
numcalls = 0
def square(x):
    global numcalls
    numcalls = numcalls + 1
    print(numcalls)
    return x * x

In [8]:
square(5)

1

25

In [9]:
square(2*5)

2

100

In [10]:
# Scope of the variable

x = 1
def f():
    x = 2
    return x
print (x)
print (f())
print (x)

1
2
1

In [11]:
x = 1
def f():
        y = x
        #x = 2
        return x + y
print (x)
print (f())
print (x)

1
2
1

In [12]:
def difference(x, y):
    return x - y
difference(5, 2)
difference(x=5, y=2)
difference(5, y=2)
difference(y=2, x=5)

3

In [16]:
def count_digits(x):
    c=0
    q = x/10
    while(q>=0): 
        q = x/10
        r = x%10
        c=c+1
    return c

#l = "12345"
#print (len(l))

In [19]:
#count_digits(12345)

In [20]:
x = 2
def f(a):
    x = a * a
    return x
y = f(3)
print (x, y)

2 9

### Inbuilt functions

In [21]:
min(2,3)

2

In [22]:
max(2,3)

3

In [23]:
max([12, 5, 8, 90])

90

In [24]:
mylist =[2,3,3,3,3,4,4]
max(mylist)

4

In [25]:
len("1234")

4

In [26]:
len("hello")

5

In [27]:
str(12345)

'12345'

In [28]:
'hello'.upper()

'HELLO'

In [29]:
"jaGS".lower()

'jags'

In [30]:
if(str("1234")==str("alpha")):
      print ("hi")
else: print("hello")

hello

In [31]:

def mystrcmp(x,y):
    #print (x.lower(),y.lower())
    if (x.lower()) == (y.lower()):
          print ("true")
    else: print ("false")

In [32]:
mystrcmp("python", "python")
mystrcmp("python", "a")
mystrcmp("python", "PYTHON")
mystrcmp("python", "pytHOn")
mystrcmp("python", "pYTHON")

true
false
true
true
true

In [33]:
x = 1
def f():
    return x
print (x)
print (f())

1
1

In [34]:
x = 1
def f():
    x = 2
    return x
print (x)
print (f())
print (x)

1
2
1

### Here is the list of available conditional operators.

- == equal to
- != not equal to
- "<" less than
- ">" greater than
- "<=" less than or equal to
- ">=" greater than or equal to

### There are few logical operators to combine boolean values.

- a and b is True only if both a and b are True.
- a or b is True if either a or b is True.
- not a is True only if a is False.

In [35]:
x = 4
y = 5
p = x < y or x < z
print (p)

True

In [36]:

x = 3
if x == 2:
    print (x)
else:
    print (y)

5

### modules or libraries

In [37]:
import time
time.asctime()

'Sat Feb 17 17:20:52 2018'

In [39]:
import sys
print (sys.argv[1])

-f

### Lists
- data structure in python
- can contain members of any datatypes
- list can conatin anoter list inside it
- some functions - len(list1)
- doesn't work with Python 3 - range(4) - creates a list of numbers till 4
- "+" and - operators work with lists
- List can be indexed to get individual entries. Value of index can go from 0 to (length of list - 1).
- Slicing to get a part of the list
- Append function
- Zip function
- Sum() function

In [41]:
range(5)

range(0, 5)

In [42]:
range(3,6)

range(3, 6)

In [44]:
a=[1.4, 5.6,7]
b=['y', 5, 'u']

In [46]:
l=a+b
l

[1.4, 5.6, 7, 'y', 5, 'u']

In [49]:
l[1]

5.6

In [52]:

l[-1]

'u'

In [53]:
l[0]

1.4

In [82]:
# Even negative indices can be used in slicing. For example, the following examples strips the last element from the list.
l[2:-1]

[7, 'y', 5]

In [83]:
#An optional third index can be used to specify the increment, which defaults to 1.

x = range(10)
print (x)

range(0, 10)

In [84]:
x[0:6:2]

range(0, 6, 2)

In [85]:
#We can reverse a list, just by providing -1 for increment.
x = range(10)
print(x)
x[::-1]

range(0, 10)

range(9, -1, -1)

In [86]:
x = [5, 6, [8]]
x[2][0] = 3
#x[2][1] = 9 gives "list assignment index out of range"
print (x)
x[2].append(4)
print (x)
x[2] = 2
print (x)

[5, 6, [3]]
[5, 6, [3, 4]]
[5, 6, 2]

### Loops

In [88]:
for x in [1, 2, 3, 4]:
    print (x)

1
2
3
4

In [90]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [91]:
for i  in range(3):
    print (i, i*i, i*i*i)

0 0 0
1 1 1
2 4 8

In [94]:
#The built-in function zip takes two lists and returns list of pairs - doesn't work in Python 3

zip(["a", "b", "c"], [1, 2, 3])

In [98]:
names = ["a", "b", "c"]
values = [1, 2, 3]
for name, value in zip(names, values):
    print (name, value)

a 1
b 2
c 3

In [99]:
sum([1, 2, 3])

6

In [103]:
sum([6, 5])

11

In [111]:
#function to multiply numbers

In [110]:
def product(x, y, z):
    return x*y*z
product(1, 2, 3)

6

#factorial of a number
def factorial(x)

Problem A. Burger Optimization
Confused? Read the quick-start guide.
Small input
5 points	
Solve A-small
You may try multiple times, with penalties for wrong submissions.
Large input
9 points	
You must solve the small input first.
You have 8 minutes to solve 1 input file. (Judged after contest.)
Problem
In 2017, Google learned about a serious Android bug: in the burger emoji, the cheese was directly on top of the lower bun, rather than on the patty itself. Really, who makes a burger that way? Sundar, our CEO, vowed to drop everything and address this issue immediately.

To prevent this sort of situation in the future, the Code Jam team has constructed a mathematical model for understanding burgers. A burger consists of a stack of K ingredients between two buns, with each ingredient appearing exactly once. We are interested in the distance-to-bun value of each ingredient. The distance-to-bun value of an ingredient is the minimum number of other ingredients between the that ingredient and a bun:

If K is even, then the distance-to-bun values for the ingredients (starting with the ingredient at the top of the stack) are: 0, 1, ..., K/2 - 1, K/2 - 1, ..., 1, 0.
If K is odd, then they are: 0, 1, ..., ((K - 1) / 2) - 1, (K - 1) / 2, ((K - 1) / 2) - 1, ..., 1, 0.
After carrying out a lot of focus group testing (and eating a lot of burgers), we have determined that the i-th of each of our K ingredients has an optimal distance-to-bun value of Di. We think our burger emoji users will be happiest if we choose an ordering for our ingredients that minimizes the error value, which we define as the sum of the squared differences between each ingredient's optimal and actual distance-to-bun values.

For example, if we have five ingredients A, B, C, D, and E with optimal distance-to-bun values of 0, 2, 1, 1, and 2, and we place them between the buns in that order, then the error is (0-0)2 + (2-1)2 + (1-2)2 + (1-1)2 + (2-0)2 = 6. If we instead place them in the order C, E, B, D, A, then the error is (1-0)2 + (2-1)2 + (2-2)2 + (1-1)2 + (0-0)2 = 2, which turns out to be the minimum possible error for these ingredients.

Given the list of optimal distance-to-bun values for our ingredients, can you help us determine the smallest possible error?

Input
The first line of the input gives the number of test cases, T; T test cases follow. Each begins with one line containing an integer K: the number of ingredients in our burger. Then, there is one more line containing K integers Di, the optimal distance-to-bun values of our ingredients.

Output
For each test case, output one line containing Case #x: y, where x is the test case number (starting from 1) and y is the smallest possible error, as described above.

Limits
1 ≤ T ≤ 100.
0 ≤ Di ≤ floor((K-1)/2), for all i. (Each optimal distance-to-bun value is within the range of attainable distance-to-bun values.)
Small dataset
1 ≤ K ≤ 8.
Large dataset
1 ≤ K ≤ 100.
Sample

Input 
 	
Output 
 
3
5
0 2 1 1 2
1
0
6
2 2 2 2 2 2

Case #1: 2
Case #2: 0
Case #3: 10
Sample Case #1 is the one illustrated in the problem statement.

In Sample Case #2, there is only one ingredient in the burger; that is not much of a burger, but our model has to be able to handle this base case! There is no confusion over how to place the one ingredient, and the error is 0.

In Sample Case #3, there are six ingredients, but all of them have an optimal distance-to-bun of 2. Any way of placing them is equivalent, and the error is 22 + 12 + 02 + 02 + 12 + 22 = 10.

In [ ]:
t=input()
k=input()
# define an empty list
a[]
#read the next lines

while(k!=0):
    a.append(input()) 
#print(a[])

In [117]:
age = input("Your age? ")

Your age? 26

In [118]:
age

'26'

In [ ]:
t=input()
k=input()
# define an empty list
#read the next lines
a=[]
#while(k!=0):
#for i in range(1 to k)
    a.append(input()) 
   # print(a)    
   
#print(a)
# k is odd or even
if(k%2==0):
  #it's even
  mid = k/2
else: 
    mid1 = (k-1)/2  #it's odd 
    mid2 = (k-1)/2 -1
#sort 
sort(a)    
for i in range(k):
    #for j in range (a)
    errorfun = errorfun + (i-a[i] )

In [ ]:
t = int(input())  # read a line with a single integer
for i in range(1, t + 1):
    n, m = [int(s) for s in input().split(" ")]  # read a list of integers, 2 in this case
    print("Case #{}: {} {}".format(i, n + m, n * m))
  # check out .format's specification for more formatting options

2
4 5
Case #1: 9 20

In [ ]:
# fibonacci series
a=[1,1]
def fibo(x)
    a.append(a[0]+a[1])
    return x+(x-1)
print(a[])

In [ ]:
# Problem 10: Write a function unique to find all the unique elements of a list.
# Find a number is odd or even
# Find a number is prime
# Fibonacci series
# Factorial
# Reverse the string
# Count the no. of digits 
# Sort list of items

-  \n is used to indicate that you want to move to the next line
-  rstrip('bbb whatever'), lstrip(), strip()

In [1]:
print("hello\n after this move to new line")

hello
 after this move to new line

In [17]:
txt = "there is space in the end   "
print(txt.rstrip())
txt1 = "my percentage is 99%"
print(txt1.rstrip('%'))

there is space in the end
my percentage is 99

In [11]:
txt = "      there is space in the front"
print(txt)
txt.lstrip()

      there is space in the front

'there is space in the front'

In [18]:
txt3 =   "    there is space in the front and back  "

txt3.strip()

'there is space in the front and back'

In [20]:
# Reading the input as a string; ignore the following two lines
import ast, sys
input_str = sys.stdin.read()

# Write your code here
final_str = input_str.strip()
print(final_str)

In [21]:
gg

NameError: name 'gg' is not defined

In [29]:
import ast,sys
#input_str = sys.stdin.read()
input_str = 'Kumar_Ravi_003'
first_name = input_str[6:10]
second_name = input_str[0:5]
customer_code = input_str[-3:]
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

In [33]:
nums = '1234567890'
odd_nums = nums[0::2]
even_nums = nums[1::2]
print(odd_nums, even_nums)

13579 24680

In [37]:
A = "Data"
B = "Analysis"
C = "Pandas"
mystr = "{0} {1} using {2}".format(A, B, C)
print(mystr)

Data Analysis using Pandas

- / vs //

### Converting Strings to List 

- say reading contents of the email - makes more sense to be in list than in string
- After reading the words from email, we can do text anlayis - pick up adjectives, verbs etc
- List to String - use split() - will convert the string to CSV - the CSV  can be used for data analysis
- String to List - join()

In [40]:
mystr1 = " I love ireland"
print(mystr1)
mylist1 = mystr1[:]
print(mylist1)

 I love ireland
 I love ireland

In [44]:
# count the no. of words in a paragraph

mytext = """ The island of Ireland historically consists of 32 counties, of which six, collectively known as Northern Ireland, have remained as part of the United Kingdom since the rest of Ireland gained self government in 1922. The name "Ireland" applies to the island as a whole, but in English is also the official name of the independent state (ie the 26 counties which are not part of the United Kingdom), since 1921.

Celtic tribes settled on the island in the 4th century BC. Invasions by Norsemen that began in the late 8th century were finally ended when King Brian Boru defeated the Danes in 1014. Norman invasions began in the early 12th century and set in place Ireland's uneasy position within England's sphere of influence. The Act of Union of 1800 - in which Catholics, 90% of the Irish population, were excluded from Parliament - saw Ireland joining the United Kingdom. In the latter half of the 19th century and early 20th century the subject of Irish home rule was a major debate within the British parliament. After several failed attempts, a Home Rule bill finally passed through parliament in 1914 though the start of the first world war saw its indefinite postponement due to heavily armed unionist opposition. A failed rebellion on Easter Monday in 1916, (after which 15 of the surrendered leaders were shot by firing squad and 1 hanged) showed a hint of things to come with years of war to follow, beginning with the Irish War of Independence (1919-1921) and continuing with the Irish Civil War (1922-1923).

Eventually a somewhat stable situation emerged with the self government of 26 of Ireland's counties known as the Irish Free State; the remaining six, located in the north of the country comprising two-thirds of the ancient province of Ulster, remained part of the United Kingdom — a status that has continued to the present day. In 1949 the Irish Free State became "Ireland" (a.k.a. the Republic of Ireland) and withdrew from the British Commonwealth of Nations.

Ireland's history post-partition has been marked with violence, a period known as "The Troubles", generally regarded as beginning in the late 1960s, which saw large scale confrontation between opposing paramilitary groups seeking to either keep Northern Ireland as part of the United Kingdom or bring it into Ireland[1] as well as with the security forces. The Troubles saw many ups and downs in intensity of fighting and on many occasions they even spread to terrorist attacks in Britain and continental Europe. Both the government of the UK and Ireland were opposed to all terrorist groups. A peace settlement known as the Good Friday Agreement was finally approved in 1998 and is currently being implemented. All signs point to this agreement holding steady.

Though a relatively poor country for much of the 20th century, Ireland joined the European Community in 1973 (at the same time as the United Kingdom). Between the mid 1990s and late 2000s, Ireland saw massive economic boom (called 'The Celtic Tiger'), becoming one of the richest countries in Europe. However, the global banking crisis and subsequent recession have hit Ireland hard, and high levels of unemployment proliferated for the period 2009 - 2013, before a gradual ecomonic recovery.

 """

words = mytext.split()
print(words)
len(words)

['The', 'island', 'of', 'Ireland', 'historically', 'consists', 'of', '32', 'counties,', 'of', 'which', 'six,', 'collectively', 'known', 'as', 'Northern', 'Ireland,', 'have', 'remained', 'as', 'part', 'of', 'the', 'United', 'Kingdom', 'since', 'the', 'rest', 'of', 'Ireland', 'gained', 'self', 'government', 'in', '1922.', 'The', 'name', '"Ireland"', 'applies', 'to', 'the', 'island', 'as', 'a', 'whole,', 'but', 'in', 'English', 'is', 'also', 'the', 'official', 'name', 'of', 'the', 'independent', 'state', '(ie', 'the', '26', 'counties', 'which', 'are', 'not', 'part', 'of', 'the', 'United', 'Kingdom),', 'since', '1921.', 'Celtic', 'tribes', 'settled', 'on', 'the', 'island', 'in', 'the', '4th', 'century', 'BC.', 'Invasions', 'by', 'Norsemen', 'that', 'began', 'in', 'the', 'late', '8th', 'century', 'were', 'finally', 'ended', 'when', 'King', 'Brian', 'Boru', 'defeated', 'the', 'Danes', 'in', '1014.', 'Norman', 'invasions', 'began', 'in', 'the', 'early', '12th', 'century', 'and', 'set', 'in', 'place', "Ireland's", 'uneasy', 'position', 'within', "England's", 'sphere', 'of', 'influence.', 'The', 'Act', 'of', 'Union', 'of', '1800', '-', 'in', 'which', 'Catholics,', '90%', 'of', 'the', 'Irish', 'population,', 'were', 'excluded', 'from', 'Parliament', '-', 'saw', 'Ireland', 'joining', 'the', 'United', 'Kingdom.', 'In', 'the', 'latter', 'half', 'of', 'the', '19th', 'century', 'and', 'early', '20th', 'century', 'the', 'subject', 'of', 'Irish', 'home', 'rule', 'was', 'a', 'major', 'debate', 'within', 'the', 'British', 'parliament.', 'After', 'several', 'failed', 'attempts,', 'a', 'Home', 'Rule', 'bill', 'finally', 'passed', 'through', 'parliament', 'in', '1914', 'though', 'the', 'start', 'of', 'the', 'first', 'world', 'war', 'saw', 'its', 'indefinite', 'postponement', 'due', 'to', 'heavily', 'armed', 'unionist', 'opposition.', 'A', 'failed', 'rebellion', 'on', 'Easter', 'Monday', 'in', '1916,', '(after', 'which', '15', 'of', 'the', 'surrendered', 'leaders', 'were', 'shot', 'by', 'firing', 'squad', 'and', '1', 'hanged)', 'showed', 'a', 'hint', 'of', 'things', 'to', 'come', 'with', 'years', 'of', 'war', 'to', 'follow,', 'beginning', 'with', 'the', 'Irish', 'War', 'of', 'Independence', '(1919-1921)', 'and', 'continuing', 'with', 'the', 'Irish', 'Civil', 'War', '(1922-1923).', 'Eventually', 'a', 'somewhat', 'stable', 'situation', 'emerged', 'with', 'the', 'self', 'government', 'of', '26', 'of', "Ireland's", 'counties', 'known', 'as', 'the', 'Irish', 'Free', 'State;', 'the', 'remaining', 'six,', 'located', 'in', 'the', 'north', 'of', 'the', 'country', 'comprising', 'two-thirds', 'of', 'the', 'ancient', 'province', 'of', 'Ulster,', 'remained', 'part', 'of', 'the', 'United', 'Kingdom', '—', 'a', 'status', 'that', 'has', 'continued', 'to', 'the', 'present', 'day.', 'In', '1949', 'the', 'Irish', 'Free', 'State', 'became', '"Ireland"', '(a.k.a.', 'the', 'Republic', 'of', 'Ireland)', 'and', 'withdrew', 'from', 'the', 'British', 'Commonwealth', 'of', 'Nations.', "Ireland's", 'history', 'post-partition', 'has', 'been', 'marked', 'with', 'violence,', 'a', 'period', 'known', 'as', '"The', 'Troubles",', 'generally', 'regarded', 'as', 'beginning', 'in', 'the', 'late', '1960s,', 'which', 'saw', 'large', 'scale', 'confrontation', 'between', 'opposing', 'paramilitary', 'groups', 'seeking', 'to', 'either', 'keep', 'Northern', 'Ireland', 'as', 'part', 'of', 'the', 'United', 'Kingdom', 'or', 'bring', 'it', 'into', 'Ireland[1]', 'as', 'well', 'as', 'with', 'the', 'security', 'forces.', 'The', 'Troubles', 'saw', 'many', 'ups', 'and', 'downs', 'in', 'intensity', 'of', 'fighting', 'and', 'on', 'many', 'occasions', 'they', 'even', 'spread', 'to', 'terrorist', 'attacks', 'in', 'Britain', 'and', 'continental', 'Europe.', 'Both', 'the', 'government', 'of', 'the', 'UK', 'and', 'Ireland', 'were', 'opposed', 'to', 'all', 'terrorist', 'groups.', 'A', 'peace', 'settlement', 'known', 'as', 'the', 'Good', 'Friday', 'Agreement', 'was', 'finally', 'approved', 'in', '1998', 'and', 'is', 'currently', 'being', 'implemented.', 'All', 'signs', 'point', 'to', 'this', 'agreement', 'holding', 'steady.', 'Though', 'a', 'relatively', 'poor', 'country', 'for', 'much', 'of', 'the', '20th', 'century,', 'Ireland', 'joined', 'the', 'European', 'Community', 'in', '1973', '(at', 'the', 'same', 'time', 'as', 'the', 'United', 'Kingdom).', 'Between', 'the', 'mid', '1990s', 'and', 'late', '2000s,', 'Ireland', 'saw', 'massive', 'economic', 'boom', '(called', "'The", 'Celtic', "Tiger'),", 'becoming', 'one', 'of', 'the', 'richest', 'countries', 'in', 'Europe.', 'However,', 'the', 'global', 'banking', 'crisis', 'and', 'subsequent', 'recession', 'have', 'hit', 'Ireland', 'hard,', 'and', 'high', 'levels', 'of', 'unemployment', 'proliferated', 'for', 'the', 'period', '2009', '-', '2013,', 'before', 'a', 'gradual', 'ecomonic', 'recovery.']

In [52]:
#List to String

backtostring = ''.join(words)
print(backtostring)
backtostring = ' '.join(words)
print(backtostring)
backtostring = ','.join(words)
print(backtostring)

TheislandofIrelandhistoricallyconsistsof32counties,ofwhichsix,collectivelyknownasNorthernIreland,haveremainedaspartoftheUnitedKingdomsincetherestofIrelandgainedselfgovernmentin1922.Thename"Ireland"appliestotheislandasawhole,butinEnglishisalsotheofficialnameoftheindependentstate(iethe26countieswhicharenotpartoftheUnitedKingdom),since1921.Celtictribessettledontheislandinthe4thcenturyBC.InvasionsbyNorsementhatbeganinthelate8thcenturywerefinallyendedwhenKingBrianBorudefeatedtheDanesin1014.Normaninvasionsbeganintheearly12thcenturyandsetinplaceIreland'suneasypositionwithinEngland'ssphereofinfluence.TheActofUnionof1800-inwhichCatholics,90%oftheIrishpopulation,wereexcludedfromParliament-sawIrelandjoiningtheUnitedKingdom.Inthelatterhalfofthe19thcenturyandearly20thcenturythesubjectofIrishhomerulewasamajordebatewithintheBritishparliament.Afterseveralfailedattempts,aHomeRulebillfinallypassedthroughparliamentin1914thoughthestartofthefirstworldwarsawitsindefinitepostponementduetoheavilyarmedunionistopposition.AfailedrebelliononEasterMondayin1916,(afterwhich15ofthesurrenderedleaderswereshotbyfiringsquadand1hanged)showedahintofthingstocomewithyearsofwartofollow,beginningwiththeIrishWarofIndependence(1919-1921)andcontinuingwiththeIrishCivilWar(1922-1923).Eventuallyasomewhatstablesituationemergedwiththeselfgovernmentof26ofIreland'scountiesknownastheIrishFreeState;theremainingsix,locatedinthenorthofthecountrycomprisingtwo-thirdsoftheancientprovinceofUlster,remainedpartoftheUnitedKingdom—astatusthathascontinuedtothepresentday.In1949theIrishFreeStatebecame"Ireland"(a.k.a.theRepublicofIreland)andwithdrewfromtheBritishCommonwealthofNations.Ireland'shistorypost-partitionhasbeenmarkedwithviolence,aperiodknownas"TheTroubles",generallyregardedasbeginninginthelate1960s,whichsawlargescaleconfrontationbetweenopposingparamilitarygroupsseekingtoeitherkeepNorthernIrelandaspartoftheUnitedKingdomorbringitintoIreland[1]aswellaswiththesecurityforces.TheTroublessawmanyupsanddownsinintensityoffightingandonmanyoccasionstheyevenspreadtoterroristattacksinBritainandcontinentalEurope.BoththegovernmentoftheUKandIrelandwereopposedtoallterroristgroups.ApeacesettlementknownastheGoodFridayAgreementwasfinallyapprovedin1998andiscurrentlybeingimplemented.Allsignspointtothisagreementholdingsteady.Thougharelativelypoorcountryformuchofthe20thcentury,IrelandjoinedtheEuropeanCommunityin1973(atthesametimeastheUnitedKingdom).Betweenthemid1990sandlate2000s,Irelandsawmassiveeconomicboom(called'TheCelticTiger'),becomingoneoftherichestcountriesinEurope.However,theglobalbankingcrisisandsubsequentrecessionhavehitIrelandhard,andhighlevelsofunemploymentproliferatedfortheperiod2009-2013,beforeagradualecomonicrecovery.
The island of Ireland historically consists of 32 counties, of which six, collectively known as Northern Ireland, have remained as part of the United Kingdom since the rest of Ireland gained self government in 1922. The name "Ireland" applies to the island as a whole, but in English is also the official name of the independent state (ie the 26 counties which are not part of the United Kingdom), since 1921. Celtic tribes settled on the island in the 4th century BC. Invasions by Norsemen that began in the late 8th century were finally ended when King Brian Boru defeated the Danes in 1014. Norman invasions began in the early 12th century and set in place Ireland's uneasy position within England's sphere of influence. The Act of Union of 1800 - in which Catholics, 90% of the Irish population, were excluded from Parliament - saw Ireland joining the United Kingdom. In the latter half of the 19th century and early 20th century the subject of Irish home rule was a major debate within the British parliament. After several failed attempts, a Home Rule bill finally passed through parliament in 1914 though the start of the first world war saw its indefinite postponement due to heavily armed unionist opposition. A failed rebellion on Easter Monday in 1916, (after which 15 of the surrendered leaders were shot by firing squad and 1 hanged) showed a hint of things to come with years of war to follow, beginning with the Irish War of Independence (1919-1921) and continuing with the Irish Civil War (1922-1923). Eventually a somewhat stable situation emerged with the self government of 26 of Ireland's counties known as the Irish Free State; the remaining six, located in the north of the country comprising two-thirds of the ancient province of Ulster, remained part of the United Kingdom — a status that has continued to the present day. In 1949 the Irish Free State became "Ireland" (a.k.a. the Republic of Ireland) and withdrew from the British Commonwealth of Nations. Ireland's history post-partition has been marked with violence, a period known as "The Troubles", generally regarded as beginning in the late 1960s, which saw large scale confrontation between opposing paramilitary groups seeking to either keep Northern Ireland as part of the United Kingdom or bring it into Ireland[1] as well as with the security forces. The Troubles saw many ups and downs in intensity of fighting and on many occasions they even spread to terrorist attacks in Britain and continental Europe. Both the government of the UK and Ireland were opposed to all terrorist groups. A peace settlement known as the Good Friday Agreement was finally approved in 1998 and is currently being implemented. All signs point to this agreement holding steady. Though a relatively poor country for much of the 20th century, Ireland joined the European Community in 1973 (at the same time as the United Kingdom). Between the mid 1990s and late 2000s, Ireland saw massive economic boom (called 'The Celtic Tiger'), becoming one of the richest countries in Europe. However, the global banking crisis and subsequent recession have hit Ireland hard, and high levels of unemployment proliferated for the period 2009 - 2013, before a gradual ecomonic recovery.
The,island,of,Ireland,historically,consists,of,32,counties,,of,which,six,,collectively,known,as,Northern,Ireland,,have,remained,as,part,of,the,United,Kingdom,since,the,rest,of,Ireland,gained,self,government,in,1922.,The,name,"Ireland",applies,to,the,island,as,a,whole,,but,in,English,is,also,the,official,name,of,the,independent,state,(ie,the,26,counties,which,are,not,part,of,the,United,Kingdom),,since,1921.,Celtic,tribes,settled,on,the,island,in,the,4th,century,BC.,Invasions,by,Norsemen,that,began,in,the,late,8th,century,were,finally,ended,when,King,Brian,Boru,defeated,the,Danes,in,1014.,Norman,invasions,began,in,the,early,12th,century,and,set,in,place,Ireland's,uneasy,position,within,England's,sphere,of,influence.,The,Act,of,Union,of,1800,-,in,which,Catholics,,90%,of,the,Irish,population,,were,excluded,from,Parliament,-,saw,Ireland,joining,the,United,Kingdom.,In,the,latter,half,of,the,19th,century,and,early,20th,century,the,subject,of,Irish,home,rule,was,a,major,debate,within,the,British,parliament.,After,several,failed,attempts,,a,Home,Rule,bill,finally,passed,through,parliament,in,1914,though,the,start,of,the,first,world,war,saw,its,indefinite,postponement,due,to,heavily,armed,unionist,opposition.,A,failed,rebellion,on,Easter,Monday,in,1916,,(after,which,15,of,the,surrendered,leaders,were,shot,by,firing,squad,and,1,hanged),showed,a,hint,of,things,to,come,with,years,of,war,to,follow,,beginning,with,the,Irish,War,of,Independence,(1919-1921),and,continuing,with,the,Irish,Civil,War,(1922-1923).,Eventually,a,somewhat,stable,situation,emerged,with,the,self,government,of,26,of,Ireland's,counties,known,as,the,Irish,Free,State;,the,remaining,six,,located,in,the,north,of,the,country,comprising,two-thirds,of,the,ancient,province,of,Ulster,,remained,part,of,the,United,Kingdom,—,a,status,that,has,continued,to,the,present,day.,In,1949,the,Irish,Free,State,became,"Ireland",(a.k.a.,the,Republic,of,Ireland),and,withdrew,from,the,British,Commonwealth,of,Nations.,Ireland's,history,post-partition,has,been,marked,with,violence,,a,period,known,as,"The,Troubles",,generally,regarded,as,beginning,in,the,late,1960s,,which,saw,large,scale,confrontation,between,opposing,paramilitary,groups,seeking,to,either,keep,Northern,Ireland,as,part,of,the,United,Kingdom,or,bring,it,into,Ireland[1],as,well,as,with,the,security,forces.,The,Troubles,saw,many,ups,and,downs,in,intensity,of,fighting,and,on,many,occasions,they,even,spread,to,terrorist,attacks,in,Britain,and,continental,Europe.,Both,the,government,of,the,UK,and,Ireland,were,opposed,to,all,terrorist,groups.,A,peace,settlement,known,as,the,Good,Friday,Agreement,was,finally,approved,in,1998,and,is,currently,being,implemented.,All,signs,point,to,this,agreement,holding,steady.,Though,a,relatively,poor,country,for,much,of,the,20th,century,,Ireland,joined,the,European,Community,in,1973,(at,the,same,time,as,the,United,Kingdom).,Between,the,mid,1990s,and,late,2000s,,Ireland,saw,massive,economic,boom,(called,'The,Celtic,Tiger'),,becoming,one,of,the,richest,countries,in,Europe.,However,,the,global,banking,crisis,and,subsequent,recession,have,hit,Ireland,hard,,and,high,levels,of,unemployment,proliferated,for,the,period,2009,-,2013,,before,a,gradual,ecomonic,recovery.

In [51]:
#print(backtostring)

In [85]:
mystr = "hi"
print(mystr*5)
#print(mylist+5)
print(mystr+mystr)

#see the difference between string, list
mylist = ['hi']
print(mylist*5)
print(mylist+mylist)

hihihihihi
hihi
['hi', 'hi', 'hi', 'hi', 'hi']
['hi', 'hi']

In [70]:
import ast,sys
#input_list = (sys.stdin.read()).split(',')
a='SAS', 'R', 'PYTHON', 'SPSS'
print(a)
input_list = a.split(',')
print(input_list)
med_list = input_list
print(med_list)
final_list = med_list.append('SPARK')
#final_list = ['SAS', 'R', 'PYTHON', 'SPARK']
print(final_list)

('SAS', 'R', 'PYTHON', 'SPSS')

AttributeError: 'tuple' object has no attribute 'split'

In [77]:
import ast,sys
#input_list = (sys.stdin.read()).split(',')
a='SAS R PYTHON SPSS'
print(a)
input_list = a.split()
input_list [3] = 'SPARK'
#final_list = med_list.append('SPARK')
#final_list = ['SAS', 'R', 'PYTHON', 'SPARK']
final_list = input_list
print(final_list)

SAS R PYTHON SPSS
['SAS', 'R', 'PYTHON', 'SPARK']

Q.   string to list conversion
Description
Convert a string input_str = 'I love Data Science & Python' to a list by splitting it on ‘&’. The sample output for this string will be:
['I love Data Science ', ' Python']

In [80]:
import ast,sys
#input_str = sys.stdin.read()
input_str = 'I love Data Science & Python'    #string
#med = input_str[:]
med = input_str.split('&')   #string to list
output_str1 = ','.join(med)  #list to string
output_list = output_str1.split(',')  #string to list  see the [] comes up
print(output_list)

['I love Data Science ', ' Python']

In [88]:
nums1 =[1,2,9,0,6,3,8]
print(len(nums1))
print(sum(nums1))
print(max(nums1))
print(min(nums1))
print(sorted(nums1))

7
29
9
0
[0, 1, 2, 3, 6, 8, 9]

In [99]:
#nested Lists
mynestedlist = [['a', 'b', 'c'], [1,2], [3, 4, 8]]
print(mynestedlist[0])
print(mynestedlist[1])
print(mynestedlist[0][2])  #first list da 2nd element
print(mynestedlist[0:2])

['a', 'b', 'c']
[1, 2]
c
[['a', 'b', 'c'], [1, 2]]

Q.  List to String
Description
Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
Pythons syntax is easy to learn & Pythons syntax is very clear

Note that there is a space on both sides of '&' (as usual in English sentences).

In [100]:
import ast,sys
#input_str = (sys.stdin.read()).split(',')

string_1 = ' & '.join(input_str)

print(string_1)

I &   & l & o & v & e &   & D & a & t & a &   & S & c & i & e & n & c & e &   & & &   & P & y & t & h & o & n

q. Nested List
Description
Extract Python from a nested list input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [102]:
import ast,sys
#input_str = sys.stdin.read()
#input_list = ast.literal_eval(input_str)

answer = input_list[2][0]

print(answer)

P

In [105]:
#deleting all elements in the list is by simply pointing it to empty list

list1 = [1,4,5]
list2 = list1[:]
print(list2)
list2 = []
print(list2)

[1, 4, 5]
[]

q. Tuple
Description
Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.

To learn how to convert a list to a tuple, search for it on Google / Stack Overflow etc.

In [2]:
import ast,sys
input_str = sys.stdin.read()
#input_tuple = ast.literal_eval(input_str)
input_tuple = ('Monty Python', 'British', 1969)
# Write your code here
list1=list(input_tuple)
list1.append('Python')
tuple_2 = tuple(list1)

# Make sure to name the final tuple 'tuple_2'
print(tuple_2)

('Monty Python', 'British', 1969, 'Python')

Can a tuple consist of a list as an element?
Yes, A tuple can contain mutable objects.

### Dictionaries

In [21]:
mydictionary = {'name':'ak', 'age':33, 'pob':'mumbai'}
print(mydictionary)
print(mydictionary['age'])
mydictionary['age'] =27
print(mydictionary)
print(mydictionary.keys())
print(mydictionary.values())
print(list(mydictionary.keys()))

{'name': 'ak', 'age': 33, 'pob': 'mumbai'}
33
{'name': 'ak', 'age': 27, 'pob': 'mumbai'}
dict_keys(['name', 'age', 'pob'])
dict_values(['ak', 27, 'mumbai'])
['name', 'age', 'pob']

q: Dict_Error
Description
From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key ‘Label’ which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.

In [15]:
import ast,sys
input_str = sys.stdin.read()
#input_dict = ast.literal_eval(input_str)
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
answer = input_dict.get('Label', 'NA')
print(answer)

NA

q: List of Values in a Dictionary.
Description
Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [22]:

import ast,sys
input_str = sys.stdin.read()
#input_dict = ast.literal_eval(input_str)
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

value_list = sorted(list(input_dict.values()))
print(sorted(value_list))

['Amazon', 'Apple', 'RJIO', 'Twitter']

Dict_Error
Description
From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key ‘Label’ which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.

In [24]:
import ast,sys
input_str = sys.stdin.read()
#input_dict = ast.literal_eval(input_str)
input_dict = {'Name': 'Monty', 'Profession': 'Singer' }
answer = input_dict.get('Label', 'NA')
print(answer)

NA

Getting a Value from a Dictionary.
Description
Extract the company headed by Tim Cook from the dictionary {'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}

In [25]:
import ast,sys
input_str = sys.stdin.read()
#input_dict = ast.literal_eval(input_str)
input_dict ={'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}
name = input_dict['Tim Cook']
print(name)

Apple


d = dict(a=1, b=2)
Feedback : dict function can be used to create a dictionary.

Set_diff
Description
Find the difference, using difference and symmetric_difference, between list1 and list2, where list1=[1,2,3,4,5,6] list2=[2,3,4,5,6,7,8,9]

First, convert the lists into sets and store them as set_1 and set_2. Then store the difference and symmetric difference in answer_1 and answer_2 respectively.

In [30]:
import ast,sys
input_str = sys.stdin.read()
#input_list = ast.literal_eval(input_str)
list_1=[1,2,3,4,5,6] 
list_2=[2,3,4,5,6,7,8,9]

#list_1 = input_list[0]
#list_2 = input_list[1]

set_1 = set(list_1)
set_2 = set(list_2)
#difference
answer_1 = set_1.difference(set_2)    #Type your answer here
#symmetric difference or intersection
answer_2 = set_1.intersection(set_2)
answer_3 = set_1.union(set_2)

print(answer_1)
print(answer_2)
print(answer_3)

{1}
{2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Conditional statements
- if
- if else
- if, elif, else
- nested if

In [3]:
score = int(input("what's your score"))
if score<50:
    print ("bad")
elif score>50 & score <70:
    print("normal")
else:
    print("good")

what's your score55
normal

If Statements (Boolean)
What will the following segment of code print? Try doing this verbally.

if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

b

Q. - if True or True:
       - if False and True or False:
        print('A')
   -  elif False and False or True and True:
        print('B')
   -  else:
        print('C')
- else:
    print('D')


ans - B

q.  If-Else
Description
Write a code to check if the string in input_str starts with a vowel or not. Print capital YES  or NO.

For example, if input_str = 'analytics' then, your output should print 'YES'.
Execution Time Limit
5 seconds

In [6]:
import ast,sys
#input_str = sys.stdin.read()
input_str = 'analytics'
list1 = list(input_str)
vowellist = ['a', 'e', 'i', 'o', 'u']
if list1[0] in vowellist:
    print("YES")
else: print ("NO")

YES

Iterations can be over any collection. The iteration in a string goes over each character; however, in lists and tuples, the iteration goes over each item in turn, and in dictionaries, you can iterate over both keys and values or any one of them. Another keyword — 'enumerate' — can be used to introduce another iterating variable that counts the iterations. Note that it starts with 0.

 

Other commands that can be used are 'break', 'continue', and 'pass'. To see the differences between them, use the following piece of code:

In [11]:
for i in range(100):
    print(i)
    if i>50:
        #break
        #continue
        #pass
        print("Hello")
    #print("hi")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
Hello
52
Hello
53
Hello
54
Hello
55
Hello
56
Hello
57
Hello
58
Hello
59
Hello
60
Hello
61
Hello
62
Hello
63
Hello
64
Hello
65
Hello
66
Hello
67
Hello
68
Hello
69
Hello
70
Hello
71
Hello
72
Hello
73
Hello
74
Hello
75
Hello
76
Hello
77
Hello
78
Hello
79
Hello
80
Hello
81
Hello
82
Hello
83
Hello
84
Hello
85
Hello
86
Hello
87
Hello
88
Hello
89
Hello
90
Hello
91
Hello
92
Hello
93
Hello
94
Hello
95
Hello
96
Hello
97
Hello
98
Hello
99
Hello